{% extends 'budgeting/base.html' %}


{% block title1 %}
    شرکت
    {{ companies.name }}
{% endblock title1 %}


{% block title2 %}
    قیمت تمام شده
{% endblock title2 %}

{% block content %}
<form class="form-inline" action="" method="POST">
        <div class="row">
            {% csrf_token %}

            <div class="col-4">
                <p><label for="id_projectName">نام محصول/خدمت هزینه ای:</label><input type="text" name="projectName" value="" maxlength="100" required="" id="id_projectName" class="form-control"></p>
                <p><label for="id_realCostQ1">مقدار واقعی سه ماهه اول:</label><input type="number" name="realCostQ1" value="0" required="" id="id_realCostQ1" class="form-control"></p>
                <p><label for="id_realCostQ2">مقدار واقعی سه ماهه دوم:</label><input type="number" name="realCostQ2" value="0" required="" id="id_realCostQ2" class="form-control"></p>
                <p><label for="id_realCostQ3">مقدار واقعی سه ماهه سوم:</label><input type="number" name="realCostQ3" value="0" required="" id="id_realCostQ3" class="form-control"></p>
                <p><label for="id_realCostQ4">مقدار واقعی سه ماهه چهارم:</label><input type="number" name="realCostQ4" value="0" required="" id="id_realCostQ4" class="form-control"></p>
            </div>
            <div class="col-4">
                <p><label for="id_forcastCostQ1">مقدار پیش بینی سه ماهه اول:</label><input type="number" name="forcastCostQ1" value="0" required="" id="id_forcastCostQ1" class="form-control"></p>
                <p><label for="id_forcastCostQ2">مقدار پیش بینی سه ماهه دوم:</label><input type="number" name="forcastCostQ2" value="0" required="" id="id_forcastCostQ2" class="form-control"></p>
                <p><label for="id_forcastCostQ3">مقدار پیش بینی سه ماهه سوم:</label><input type="number" name="forcastCostQ3" value="0" required="" id="id_forcastCostQ3" class="form-control"></p>
                <p><label for="id_forcastCostQ4">مقدار پیش بینی سه ماهه چهارم:</label><input type="number" name="forcastCostQ4" value="0" required="" id="id_forcastCostQ4" class="form-control"></p>
                <p><label for="id_yearOfForcast">سال بودجه ای:</label><input type="number" name="yearOfForcast" value="1400" required="" id="id_yearOfForcast" class="form-control"></p>
            </div>
            <div class="col-4">

                <p><label for="id_currency">نوع ارز:</label><select name="currency" id="id_currency" class="form-control">
                    {% for c in currency %}
                        <option value="{{ c.id }}">{{ c.currencyName }}</option>
                    {% endfor %} </select></p>
                <p><label for="id_company">شرکت:</label><select name="company" id="id_company"  class="form-control">
                        <option value="{{ companies.id }}">{{ companies.name }}</option>
                    </select></p>
                <p><label for="id_costType">نوع هزینه:</label>
                 <select name="costType" class="form-control" id="id_costType">
                    {% for c in costType %}
                        <option value="{{ c.id }}">{{ c.costTypeName }}</option>
                    {% endfor %} </select></p>
                <p><label for="id_isInGroupe">هزینه درون گروهی:</label></p><p><input type="checkbox" name="isInGroupe" id="id_isInGroupe" checked="" class="form-check-input"></p>
                <p><input type="submit" class="btn btn-warning text-center" value="ثبت"></p>
            </div>
        </div>
    </form>


    <div class="container mt-5, p-3 mb-2 bg-light text-dark" >
            <h5 class="text-center alert alert-info">اطلاعات قیمت تمام شده ثبت شده</h5>
            {% if costOfSales %}
                <table class="table table-striped">
                <thead>
                    <tr class="table-active">
                        <th scope="col">ردیف</th>
                        <th scope="col">هزینه</th>
                        <th scope="col">سه ماهه اول سال جاری</th>
                        <th scope="col">سه ماهه دوم سال جاری</th>
                        <th scope="col">سه ماهه سوم سال جاری</th>
                        <th scope="col">سه ماهه چهارم سال جاری</th>
                        <th scope="col">سه ماهه اول سال آتی</th>
                        <th scope="col">سه ماهه دوم سال آتی</th>
                        <th scope="col">سه ماهه سوم سال آتی</th>
                        <th scope="col">سه ماهه چهارم سال آتی</th>
                        <th scope="col">نوع ارز</th>
                        <th scope="col">درون گروهی</th>
                        <th scope="col">ویرایش</th>
                        <th scope="col">حذف</th>
                    </tr>
                </thead>
                <tbody>

                        {% for d in  costOfSales  %}
                            <tr >
                            <th scope="row">{{ d.id }}</th>
                            <td>{{ d.projectName }}</td>
                            <td>{{ d.realCostQ1 }}</td>
                            <td>{{ d.realCostQ2 }}</td>
                            <td>{{ d.realCostQ3 }}</td>
                            <td>{{ d.realCostQ4 }}</td>
                            <td>{{ d.forcastCostQ1 }}</td>
                            <td>{{ d.forcastCostQ2 }}</td>
                            <td>{{ d.forcastCostQ3 }}</td>
                            <td>{{ d.forcastCostQ4 }}</td>
                            <td>{{ d.currency.currencyName }}</td>
                            <td>{{ d.isInGroupe }}</td>
                                <td><a href="{% url 'budgeting:updatecostofsale' companies.id  d.id  %}" class="btn btn-warning">ویرایش</a></td>
                            <td><form   action="{% url 'budgeting:deletecost' d.id%}" method="post" class="d-inline"> {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="حذف">
                            </form></td>
                            </tr>
                        {% endfor %}

                </tbody>
            </table>

            {% else %}
            <h5 class="text-center alert alert-danger">داده ای برای نمایش وجود ندارد</h5>
            {% endif %}
    <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <a href="{% url 'budgeting:income' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله قبل</a>
    <a href="{% url 'budgeting:publiccost' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله بعد</a>
</div>
    </div>
{% endblock content %}