{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت درآمدها</title>
    <link rel="stylesheet" href="{% static '/budgeting/css/bootstrap.rtl.min.css' %}">
    <style type="text/css">body{direction:rtl;}</style>
</head>
<body>

<div class="container mt-5, p-3 mb-2 bg-light text-dark">
    <h2 class="text-center alert alert-warning"> شرکت </h2>
    <h5 class="text-center alert alert-info">ویرایش درآمد</h5>

    {% block content %}
        <div class="row">
            <div class="col-sm-8 offset-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-success" value="ویرایش">
                </form>

            </div>
        </div>
    {% endblock content %}
</div>



<script src="{% static '/budgeting/js/bootstrap.js' %}"></script>
<script src="{% static '/budgeting/js/popper.min.js' %}"></script>
<script src="{% static '/budgeting/js/jquery.js' %}"></script>
</body>
</html>