{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت درآمدها</title>
    <link rel="stylesheet" href="{% static '/budgeting/css/bootstrap.rtl.min.css' %}">
    <style type="text/css">    body{        direction:rtl;    }</style>
</head>
<body>
<div class="container mt-5">

<h2 class="text-center alert alert-warning">مدیریت درآمدها</h2>
    <div class="row">
        <div class="col-sm-4">
            <h5 class="text-center alert alert-info">ثبت درآمد</h5>
            <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-warning" value="ثبت">
            </form>
        </div>
        <div class="col-sm-8">
            <h5 class="text-center alert alert-info">اطلاعات درآمدهای ثبت شده</h5>
            {% if incomeList %}
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                         <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>

            {% else %}
            <h5 class="text-center alert alert-danger">داده ای برای نمایش وکود ندارد</h5>
            {% endif %}
        </div>
    </div>

</div>




<script src="{% static '/budgeting/js/bootstrap.js' %}"></script></script>
<script src="{% static '/budgeting/js/popper.min.js' %}"></script></script>
<script src="{% static '/budgeting/js/jquery.js' %}"></script></script>
</body>
</html>