{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت درآمدها</title>
    <link rel="stylesheet" href="{% static 'budgeting.css.bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">

<h2 class="text-center alert alert-warning">مدیریت درآمدها</h2>
</div>




<script src="{% static 'budgeting.js.bootstrap.js' %}"></script></script>
<script src="{% static 'budgeting.js.popper.min.js' %}"></script></script>
<script src="{% static 'budgeting.js.jquery.js' %}"></script></script>
</body>
</html>