{% extends 'budgeting/base.html' %}


{% block title1 %}
    شرکت
    {{ companies.name }}
{% endblock title1 %}


{% block title2 %}
    هزینه مالی
{% endblock title2 %}

{% block content %}
<form class="form-inline" action="" method="POST">
        <div class="row">
            {% csrf_token %}

            <div class="col-4">
                <p><label for="id_subject">نام محصول/خدمت درامدی:</label><input type="text" name="subject" value="" maxlength="100" required="" id="id_subject" class="form-control"></p>
                <p><label for="id_realLoanCostQ1">مقدار واقعی سه ماهه اول:</label><input type="number" name="realLoanCostQ1" value="0" required="" id="id_realLoanCostQ1" class="form-control"></p>
                <p><label for="id_realLoanCostQ2">مقدار واقعی سه ماهه دوم:</label><input type="number" name="realLoanCosttQ2" value="0" required="" id="id_realLoanCostQ2" class="form-control"></p>
                <p><label for="id_realLoanCostQ3">مقدار واقعی سه ماهه سوم:</label><input type="number" name="realLoanCostQ3" value="0" required="" id="id_realLoanCostQ3" class="form-control"></p>
                <p><label for="id_realLoanCostQ4">مقدار واقعی سه ماهه چهارم:</label><input type="number" name="realLoanCostQ4" value="0" required="" id="id_realLoanCostQ4" class="form-control"></p>
            </div>
            <div class="col-4">
                <p><label for="id_forcastLoanCostQ1">مقدار پیش بینی سه ماهه اول:</label><input type="number" name="forcastLoanCostQ1" value="0" required="" id="id_forcastLoanCostQ1" class="form-control"></p>
                <p><label for="id_forcastLoanCostQ2">مقدار پیش بینی سه ماهه دوم:</label><input type="number" name="forcastLoanCostQ2" value="0" required="" id="id_forcastLoanCostQ2" class="form-control"></p>
                <p><label for="id_forcastLoanCostQ3">مقدار پیش بینی سه ماهه سوم:</label><input type="number" name="forcastLoanCostQ3" value="0" required="" id="id_forcastLoanCostQ3" class="form-control"></p>
                <p><label for="id_forcastLoanCostQ4">مقدار پیش بینی سه ماهه چهارم:</label><input type="number" name="forcastLoanCostQ4" value="0" required="" id="id_forcastLoanCostQ4" class="form-control"></p>
                <p><label for="id_yearOfForcast">سال بودجه ای:</label><input type="number" name="yearOfForcast" value="1400" required="" id="id_yearOfForcast" class="form-control"></p>
            </div>
            <div class="col-4">

                <p><label for="id_currency">نوع ارز:</label><select name="currency" id="id_currency" class="form-control">
                    {% for c in currency %}
                        <option value="{{ c.id }}">{{ c.currencyName }}</option>
                    {% endfor %} </select></p>
                <p><label for="id_company">شرکت:</label><select name="company" id="id_company"  class="form-control">
                        <option value="{{ companies.id }}">{{ companies.name }}</option>
                    </select></p>
                <p><label for="id_isInGroupe">هزینه درون گروهی:</label></p><p><input type="checkbox" name="isInGroupe" id="id_isInGroupe" checked="" class="form-check-input"></p>
                <p><input type="submit" class="btn btn-warning text-center" value="ثبت"></p>
            </div>
        </div>
    </form>


    <div class="container mt-5, p-3 mb-2 bg-light text-dark" >
            <h5 class="text-center alert alert-info">اطلاعات هزینه مالی</h5>
            {% if loanCostloanCost %}
                <table class="table table-striped">
                <thead>
                    <tr class="table-active">
                        <th scope="col">ردیف</th>
                        <th scope="col">هزینه</th>
                        <th scope="col">سه ماهه اول سال جاری</th>
                        <th scope="col">سه ماهه دوم سال جاری</th>
                        <th scope="col">سه ماهه سوم سال جاری</th>
                        <th scope="col">سه ماهه چهارم سال جاری</th>
                        <th scope="col">سه ماهه اول سال آتی</th>
                        <th scope="col">سه ماهه دوم سال آتی</th>
                        <th scope="col">سه ماهه سوم سال آتی</th>
                        <th scope="col">سه ماهه چهارم سال آتی</th>
                        <th scope="col">نوع ارز</th>
                        <th scope="col">درون گروهی</th>
                        <th scope="col">ویرایش</th>
                        <th scope="col">حذف</th>
                    </tr>
                </thead>
                <tbody>

                        {% for d in  loanCost  %}
                            <tr >
                            <th scope="row">{{ d.id }}</th>
                            <td>{{ d.subject }}</td>
                            <td>{{ d.realloanCostQ1 }}</td>
                            <td>{{ d.realloanCostQ2 }}</td>
                            <td>{{ d.realloanCostQ3 }}</td>
                            <td>{{ d.realloanCostQ4 }}</td>
                            <td>{{ d.forcastloanCostQ1 }}</td>
                            <td>{{ d.forcastloanCostQ2 }}</td>
                            <td>{{ d.forcastloanCostQ3 }}</td>
                            <td>{{ d.forcastTloanCostQ4 }}</td>
                            <td>{{ d.currency.currencyName }}</td>
                            <td>{{ d.isInGroupe }}</td>
                                <td><a href="{% url 'budgeting:updatecostofsale' companies.id  d.id  %}" class="btn btn-warning">ویرایش</a></td>
                            <td><form   action="{% url 'budgeting:deleteincome' d.id%}" method="post" class="d-inline"> {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="حذف">
                            </form></td>
                            </tr>
                        {% endfor %}

                </tbody>
            </table>

            {% else %}
            <h5 class="text-center alert alert-danger">داده ای برای نمایش وجود ندارد</h5>
            {% endif %}
    <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <a href="{% url 'budgeting:tax' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله قبل</a>
    <a href="{% url 'budgeting:loancost' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله بعد</a>
</div>
    </div>
{% endblock content %}