{% extends 'budgeting/base.html' %}


{% block title1 %}
    شرکت
    {{ companies.name }}
{% endblock title1 %}


{% block title2 %}
    بدهی های غیر جاری
{% endblock title2 %}

{% block content %}
<form class="form-inline" action="" method="POST">
        <div class="row">
            {% csrf_token %}

            <div class="col-4">
                <label for="id_nCurrentLbltType">نوع بدهی غیر جاری:</label><select name="nCurrentLbltType" id="id_nCurrentLbltType" class="form-control">
                    {% for c in nCrrntLbltType %}
                        <option value="{{ c.id }}">{{ c.nCurrentLbltName }}</option>
                    {% endfor %} </select></p>

                <p><label for="id_realQ1">مقدار واقعی سه ماهه اول:</label><input type="number" name="realQ1" value="0" required="" id="id_realQ1" class="form-control"></p>
                <p><label for="id_realQ2">مقدار واقعی سه ماهه دوم:</label><input type="number" name="realQ2" value="0" required="" id="id_realQ2" class="form-control"></p>
                <p><label for="id_realQ3">مقدار واقعی سه ماهه سوم:</label><input type="number" name="realQ3" value="0" required="" id="id_realQ3" class="form-control"></p>
                <p><label for="id_realQ4">مقدار واقعی سه ماهه چهارم:</label><input type="number" name="realQ4" value="0" required="" id="id_realQ4" class="form-control"></p>
            </div>
            <div class="col-4">
                <p><label for="id_forcastQ1">مقدار پیش بینی سه ماهه اول:</label><input type="number" name="forcastQ1" value="0" required="" id="id_forcastQ1" class="form-control"></p>
                <p><label for="id_forcastQ2">مقدار پیش بینی سه ماهه دوم:</label><input type="number" name="forcastQ2" value="0" required="" id="id_forcastQ2" class="form-control"></p>
                <p><label for="id_forcastQ3">مقدار پیش بینی سه ماهه سوم:</label><input type="number" name="forcastQ3" value="0" required="" id="id_forcastQ3" class="form-control"></p>
                <p><label for="id_forcastQ4">مقدار پیش بینی سه ماهه چهارم:</label><input type="number" name="forcastQ4" value="0" required="" id="id_forcastQ4" class="form-control"></p>
                <p><label for="id_yearOfForcast">سال بودجه ای:</label><input type="number" name="yearOfForcast" value="1400" required="" id="id_yearOfForcast" class="form-control"></p>
            </div>
            <div class="col-4">


                <p><label for="id_company">شرکت:</label><select name="company" id="id_company"  class="form-control">
                        <option value="{{ companies.id }}">{{ companies.name }}</option>
                    </select></p>
                <p><input type="submit" class="btn btn-warning text-center" value="ثبت"></p>
            </div>
        </div>
    </form>


    <div class="container mt-5, p-3 mb-2 bg-light text-dark" >
            <h5 class="text-center alert alert-info">اطلاعات بدهی های غیر جاری</h5>
            {% if nCrntLblt %}
                <table class="table table-striped">
                <thead>
                    <tr class="table-active">
                        <th scope="col"> کد حساب</th>
                        <th scope="col">بدهی غیر جاری</th>
                        <th scope="col">سه ماهه اول سال جاری</th>
                        <th scope="col">سه ماهه دوم سال جاری</th>
                        <th scope="col">سه ماهه سوم سال جاری</th>
                        <th scope="col">سه ماهه چهارم سال جاری</th>
                        <th scope="col">سه ماهه اول سال آتی</th>
                        <th scope="col">سه ماهه دوم سال آتی</th>
                        <th scope="col">سه ماهه سوم سال آتی</th>
                        <th scope="col">سه ماهه چهارم سال آتی</th>
                        <th scope="col">ویرایش</th>
                        <th scope="col">حذف</th>
                    </tr>
                </thead>
                <tbody>

                        {% for d in  nCrntLblt  %}
                            <tr >
                            <th scope="row">{{ d.nCurrentLbltType.accountCode }}</th>
                            <td>{{ d.nCurrentLbltType }}</td>
                            <td>{{ d.realQ1 }}</td>
                            <td>{{ d.realQ2 }}</td>
                            <td>{{ d.realQ3 }}</td>
                            <td>{{ d.realQ4 }}</td>
                            <td>{{ d.forcastQ1 }}</td>
                            <td>{{ d.forcastQ2 }}</td>
                            <td>{{ d.forcastQ3 }}</td>
                            <td>{{ d.forcastQ4 }}</td>
                                <td><a href="{% url 'budgeting:updatecostofsale' companies.id  d.id  %}" class="btn btn-warning">ویرایش</a></td>
                            <td><form   action="{% url 'budgeting:deleteincome' d.id%}" method="post" class="d-inline"> {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="حذف">
                            </form></td>
                            </tr>
                        {% endfor %}

                </tbody>
            </table>

            {% else %}
            <h5 class="text-center alert alert-danger">داده ای برای نمایش وجود ندارد</h5>
            {% endif %}
    <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <a href="{% url 'budgeting:crrntlblt' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله قبل</a>
    <a href="{% url 'budgeting:prprtyRights' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله بعد</a>
</div>
    </div>
{% endblock content %}