{% extends 'budgeting/base.html' %}


{% block title1 %}
    شرکت
    {{ companies.name }}
{% endblock title1 %}


{% block title2 %}
    صورت سود و زیان
{% endblock title2 %}

{% block content %}

{{ incomdata.income1 }}

    <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <a href="{% url 'budgeting:nonoprcost' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله قبل</a>
    <a href="{% url 'budgeting:loancost' companies.id  %}" class="btn btn-info col p-2 m-2">مرحله بعد</a>

{% endblock content %}